<form class="form" [formGroup]="formCtrls" *ngIf="showCtrls">
  <label style="font-size: 1.5em;">Dataset Id(s)<input #ids/></label>
  <label>Display Options</label>
  <fieldset class="options">
    <label>
      <input formControlName="plain" type="checkbox" />
      Hide Details</label
    >
    <label>
      <input formControlName="normalise" type="checkbox" />
      Normalise</label
    >
    <label>
      <input formControlName="stack" type="checkbox" />
      Stack</label
    >
    <label>
      <input formControlName="labels" type="checkbox" />
      Hide labels</label
    >
    <label>
      <input formControlName="ticks" type="checkbox" />
      Hide ticks</label
    >
    <label>
      <input formControlName="totals" type="checkbox" />
      Hide totals</label
    >
  </fieldset>
</form>

<ng-template #progressBar let-data="data" let-dataIndex="dataIndex">
  <div class="wrapper">
    <div
      class="segments"
      [attr.data-percentage]="'87.12%'"
      [ngClass]="{
        stacked: formCtrls.value['stack'],
        totals: !formCtrls.value['normalise'] && !formCtrls.value.totals,
        plain: formCtrls.value.plain
      }"
    >
      <div
        *ngFor="let item of data['progress-by-step']"
        class="segment"
        [attr.data-label]="item.step"
        [ngClass]="{
          labelled: !formCtrls.value.plain && !formCtrls.value.labels && !formCtrls.value['stack'],
          ticked: !formCtrls.value.plain && !formCtrls.value.ticks
        }"
        [ngStyle]="{
          transform:
            formCtrls.value['normalise'] || !formCtrls.value['stack']
              ? 'none'
              : 'scaleX(' + getPct(item) + '%)',
          flexBasis: getFlexBasis(item, data, formCtrls.value['normalise']) + '%'
        }"
      >
        <ng-container *ngFor="let pctItem of getProgressByStepPercentages(item)">
          <span
            [title]="item.step"
            class="sub-segment {{ pctItem.className }}"
            style="width:{{ pctItem.pct }}%"
          ></span>
        </ng-container>
      </div>
    </div>
  </div>
</ng-template>

<ng-container
  *ngFor="let pd of progressData"
  [ngTemplateOutlet]="progressBar"
  [ngTemplateOutletContext]="{ data: pd }"
>
</ng-container>
