<form [formGroup]="formUpload" (ngSubmit)="onSubmitFormFile()">
  <div class="wizard">
    <div class="wizard-head">
      <ng-container *ngFor="let conf of fieldConf; let i = index">
        <label *ngIf="step === i">{{ conf.instruction }}</label>
      </ng-container>

      <ul class="wizard-status">
        <li *ngFor="let conf of fieldConf; let i = index">
          <a
            (click)="setStep(i)"
            [ngClass]="{ isSet: stepIsComplete(i), active: step === i }"
            class="orb-status labelled"
            [attr.data-label]="i + 1"
            [attr.title]="getOrbTooltip(item)"
          ></a>
        </li>
      </ul>
    </div>
    <div class="wizard-content">
      <div *ngFor="let conf of fieldConf; let i = index" [ngClass]="{ hidden: i !== step }">
        <ng-container *ngFor="let field of conf.fields" [ngSwitch]="field.type">
          <ng-container *ngSwitchCase="'optioned'">
            <select [formControlName]="field.name">
              <option
                *ngFor="let option of field.options"
                [ngValue]="option.code ? option.code : option"
                >{{ option.name ? option.name : option }}</option
              >
            </select>
          </ng-container>

          <ng-container *ngSwitchCase="'file'">
            <lib-file-upload
              [formControlName]="fileFormName"
              [form]="formUpload"
              [acceptedTypes]="'.zip'"
            ></lib-file-upload>
          </ng-container>

          <ng-container *ngSwitchCase="'text'">
            <input [formControlName]="field.name" />
          </ng-container>
        </ng-container>

        <ng-container *ngIf="conf.title === 'progress'">
          <ng-container *ngIf="btnSubmit.clicked">
            <app-progress-tracker [showCtrls]="false"></app-progress-tracker>
          </ng-container>

          <ng-container *ngIf="!btnSubmit.clicked"> You can get progess <input /> </ng-container>
        </ng-container>
      </div>

      <div class="buttons">
        <button
          [disabled]="!formUpload.valid"
          type="submit"
          #btnSubmit
          (click)="btnSubmit.clicked = true"
        >
          Submit
        </button>
        <button [ngClass]="{ hidden: step >= 3 }" (click)="setStep(step + 1)">
          &gt;&gt;
        </button>
      </div>
    </div>
  </div>
</form>
